@import "@/assets/scss/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}
h2 {
  font-size: $title-font-size;
  line-height: $title-line-height;
  font-weight: $font-weight-300;
}

input, textarea, button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  font-family: inherit;
  background: none;
  font-size: $subtitle-second-font-size;
  line-height: $subtitle-second-line-height;
  font-weight: $font-weight-300;
}
input::placeholder {
  font-weight: $font-weight-100;
}
button {
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
.custom-checkbox {
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  vertical-align: middle;
  margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 8px; /* ширина скроллбара */
  height: 29px; /* высота скроллбара */
}

::-webkit-scrollbar-track {
  background: #fff; /* цвет трека (фон) */
  margin: 10px 10px 10px 0;
}

::-webkit-scrollbar-thumb {
  background-color: #BDBDBD; /* цвет скроллбара */
  border-radius: 50px; /* радиус скроллбара */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bdbbbb; /* цвет скроллбара при наведении */
}