// color
$white-primary-color: #fff;
$white-second-color: #f2f2f2;
$white-third-color: #e0e0e0;
$white-fourth-color: #f9f3e6;

$dark-grey-primary-color: #828282;
$dark-grey-second-color: #4f4f4f;
$shade-grey-color: #333333;
$black-color: #000;

$yellow-color: #faff09;
$red-color: #eb5757;
$pink-color: #e7d0d0;

// z-index
$z-index-popup: 3;
$z-index-burger: 10;
$z-index-header: 11;

// font-size
$title-font-size: 48px;
$title-second-font-size: 28px;
$subtitle-font-size: 36px;
$subtitle-second-font-size: 24px;
$small-font-size: 18px;

// line-height
$title-line-height: 56px;
$subtitle-line-height: 53px;
$title-second-line-height: 42px;
$subtitle-second-line-height: 28px;
$small-line-height: 21px;

// font-weight
$font-weight-500: 500;
$font-weight-400: 400;
$font-weight-300: 300;
$font-weight-100: 100;

